*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html{
    min-width: 335px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #85859B;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

.btn{
    display: flex;
    max-width: 255px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #7875FE;
    border: 1px solid #7875FE;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.fz-hack{
    font-size: 0;
}
.btn:hover{
    background-color: #7875FE;
    color: #FFFFFF;
}

.btn:active{
    background-color: #4946B4;
}

ul,
ol{
    list-style-type: none;
}

/* Header */

.header{
    border-bottom: 1px solid #DDDDDD;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 28px;
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4C5866;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.header__nav-list{
    display: flex;
    gap: 60px;
}

.list__item-link{
    transition: color 0.3s ease-in-out;
    font-size: 20px;
}

.nav__list-item .list__item-link:hover{
    color: #7875FE;
}

.nav__list-item .list__item-link:active{
    color: #4946b4;
}


.header__icon{
    display: flex;
    gap: 20px;
}

.header__icon i{
    transition: color 0.3s ease-in-out;
}

.header__icon i:hover{
    color: #7875FE;
}

.header__icon i:active{
    color: #4946b4;
}

/* Hero */

.hero{
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-top: 60px;
    justify-content: space-between;
}

.hero__title{
    font-size: 60px;
    padding-top: 70px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #4C5866;
}
.hero__content p{
    max-width: 445px;
    margin-bottom: 30px;
}

.responsiv{
    width: 100%;
}
.hero__img{
    margin: 0;
    padding: 0;
}

/* Result */

.result{
    width: 100%;
    background-color: #ebebeb;
    padding-block: 90px;
}

.result__titel{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    padding-bottom: 90px;
}

.result__container{
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;
    display: flex;
    width: 100%;
    max-width: 350px;
}

.result__content{
    display: flex;
    gap: 30px;
}

.content{
    max-width: 350px;
}

.content h1{
    font-size: 40px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}

.container__contnet span{
    color: #666666;
}

.content p{
    line-height: 170%;
}

/* Product */

.product{
    padding-block: 90px;
}

.product__list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.block__list__item{
    max-width: 255px;
    width: 100%;
}

.product__link:hover{
    color: #4946B4;
}

.product__title{
    font-size: 30px;
    color: #666666;
    margin-bottom: 8px;
    font-weight: 400;
}

.product__circulation{
    font-size: 14px;
    color: #B5B5BD;
    margin-bottom: 10px;
}

.product__desc{
    margin-bottom: 20px;
    line-height: 170%;
}

.product__link{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    color: #7875FE;
    transition: color 0.3s ease-in-out;
}


/* Partners */

.partners{
    background-color: #ebebeb;
    padding-block: 90px;
}

.partners__list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.partners__list-item{
    display: inline-flex;
    border: 1px solid #C4C4C4;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 135px;
}

.partners__images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

/* Sketch book */
.sketch_book{
    padding-top: 90px;
}
.sketch_book__inner{
    display: flex;
    column-gap: 30px;
}

.sketch_book__title{
    font-size: 40px;
    color: #666666;
    margin-bottom: 8px;
    font-weight: 400;
}

.desk{
    line-height: 170%;
    margin-bottom: 30px;
}


.sketch_book__images{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.sketch_book__img{
    width: 100%;
}


/* Footer */

.footer{
    background-color: #4C5866;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 28px;
}

.social__icon-list{
    display: flex;
    column-gap: 30px;
}

.fa-brands{
    color: white;
    transition: color 0.3s ease-in-out;
}

.fa-brands:hover{
    color: #DAD9FB;
}

.fa-brands:active{
    color: #7875FE;
}

.footer__bottom{
    background-color: #FFFFFF;
    text-align: center;
}
.footer__bottom span{
    text-transform: uppercase;
    color: #4C5866;
}

@media screen and (max-width: 1110px) {
    .container{
        padding-inline: 15px;
    }
    .responsiv{
        width: 100%; 
        max-width: 420px; 
        height: auto;
        object-fit: cover;
    }
    .hero{
        gap: 70px;
    }

    .result__container{
        width: 290px;
    }

    .item__iamge{
        max-width: 330px;
    }

    .product__list{
        justify-content: center;
        row-gap: 60px;
    }

    
    .partners__list-item{
        max-width: 210px;
        width: 100%;
    }
}

@media screen and (max-width: 1060px) {
    
    .content h1{
        font-size: 30px;
    }
    .result__content img{
        max-width: 330px;
    }
}

@media screen and (max-width: 1005px) {
    .responsiv{
        width: 90%;
        max-width: 570px;
    }
    .hero__title{
        font-size: 50px;
    }
    .hero{
        gap: 60px;
    }

}

@media screen and (max-width: 950px) {
    .result__container{
        width: 220px;
    }

    .partners__images{
        max-width: 85%;
    }

    .partners__list-item{
        height: 70px;
    }

    .sketch_book__images{
        max-width: 569px;
        width: 100%;
    }

}

@media screen and (max-width: 760px) {
    .header__inner{
        align-items: center;
        justify-content: space-between;
    }
    .header__nav-list{
        width: 100%;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
    }


    .header__nav{
        width: 100%;
        padding-top: 30px;
        order: 2;
    }

    .header__icon{
        order: 1;
    }

    .hero{
        gap: 50px; 
    }

    .catalog_btn{
        margin-bottom: 50px;
    }

    .responsiv{
        display: none;
    }
    .result__container{
        width: 210px;
        flex-direction: column;
    }

    .result__content{
        flex-direction: column;
    }

    .content h1{
        font-size: 24px;
    }
    .content p{
        font-size: 16px;
    }

    .content{
        max-width: 550px;
    }

    .partners__list-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .partners__list{
        flex-wrap: wrap;
        gap: 10px;
    }

    .sketch_book__inner{
        flex-direction: column-reverse;
    }

    .sketch_book{
        padding-top: 40px;
    }
    
    .sketch_book__desk{
        margin-bottom: 60px;
    }
    
}

@media screen and (max-width: 700px) {
    .result__titel{
        width: 100%;
        flex-wrap: wrap;
    }

    .result__container{
        width: 100%;
        flex-direction: row;
        gap: 30px;
    }
}
@media screen and (max-width:335px) {

    .footer__inner{
        column-gap: 10px;
    }
    .social__icon-list{
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }


}
