*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html{
    min-width: 335px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #85859B;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

.btn{
    display: flex;
    max-width: 255px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #7875FE;
    border: 1px solid #7875FE;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover{
    background-color: #7875FE;
    color: #FFFFFF;
}

.btn:active{
    background-color: #4946B4;
}

ul,
ol{
    list-style-type: none;
}

/* Header */

.header{
    border-bottom: 1px solid #DDDDDD;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 28px;
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4C5866;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.header__nav-list{
    display: flex;
    gap: 60px;
}

.list__item-link{
    transition: color 0.3s ease-in-out;
    font-size: 20px;
}

.nav__list-item .list__item-link:hover{
    color: #7875FE;
}

.nav__list-item .list__item-link:active{
    color: #4946b4;
}


.header__icon{
    display: flex;
    gap: 20px;
}

.header__icon i{
    transition: color 0.3s ease-in-out;
}

.header__icon i:hover{
    color: #7875FE;
}

.header__icon i:active{
    color: #4946b4;
}

/* Hero */

.hero{
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-top: 60px;
    justify-content: space-between;
}

.hero__title{
    font-size: 60px;
    padding-top: 70px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #4C5866;
}
.hero__content p{
    max-width: 445px;
    margin-bottom: 30px;
}

.responsiv{
    width: 100%;
}
.hero__img{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1110px) {
    body{
        padding-inline: 15px;
    }
    .responsiv{
        width: 100%; 
        max-width: 420px; 
        height: auto;
        object-fit: cover;
    }
    .hero{
        gap: 70px;
    }
}

@media screen and (max-width: 1005px) {
    .responsiv{
        width: 90%;
        max-width: 570px;
    }
    .hero__title{
        font-size: 50px;
    }
    .hero{
        gap: 60px;
    }
}

@media screen and (max-width: 760px) {
    .header__inner{
        align-items: center;
        justify-content: space-between;
    }
    .header__nav-list{
        width: 100%;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
    }


    .header__nav{
        width: 100%;
        padding-top: 30px;
        order: 3;
    }

    .header__icon{
        order: 1;
    }

    .hero{
        gap: 50px; 
    }

    .responsiv{
        display: none;
    }
}
